*{
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right, 
  #111827,   /* from-gray-900 */
  #1f2937,   /* via-gray-800 */
  #000000    /* to-black */
 ) !important;
}
.navbar .nav-link{
  color: rgba(255, 255, 255, 0.878) !important;
  font-size: large !important;
}

.navbar-brand{
  font-size: x-large !important;
}
.navbar .nav-link.active {
    color: #554be9 !important;
         /* Text color */
  background-color: transparent;     /* Remove background if needed */
  font-weight: bold;                 /* Optional: make it bold */
  border-bottom: 2px solid #554be9;  /* Optional underline */
}
.navbar {
  background-color: black !important;
  margin-bottom: 20px !important;
}
.text-purple{
  /* color: rgb(173, 18, 204) !important; */
  color: #554be9 !important;
}

.hero{
  min-height: 100vh;
  padding-top:80px;

}


.profile-section{
  padding-right: 80px !important ;
}


.profile{
  width: 400px;
  height: 480px;
  padding: 20px;
  border-radius:20%;
  margin:20px;
  border: 4px solid #554be9;
  text-align: center;
} 


.intro{
  width: 300px;
  height: auto;
padding-left: 30px;}
.intro i{
  font-size: x-large;
  color: grey;
}

.intro i:hover{
  color: #4135ea;
  
}
.intro h4,p{
  color: rgb(160, 158, 158);
}

.intro h1{
 font-size: 5rem;
 font-weight: bold;
 color: white;
}

/* skills section start */
.skills{
  width: 100%;
  height: auto;
  padding:100px 20px;
}

.subheading{
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}

.skills i{
  font-size: 6rem;
  margin-bottom: 40px;
  color: rgba(223, 216, 216, 0.829);
}

.skills .row{
  padding: 20px !important;
  text-align: center;
  margin: 10px;
}

.skills .row .col{
  margin: 10px;
}

/* .skills i:hover{
  text-shadow: 0 0 8px rgba(96, 14, 155, 0.6),
               0 0 15px rgba(0, 0, 0, 0.4);
   transform: scale(1.05);             
} */

.icon-group{
   transition: all 0.3s ease;
}

.icon-group h3{
  color: white;
}
 .icon-group:hover {
  text-shadow: 0 0 8px rgb(175, 103, 226),
               0 0 15px rgba(0, 0, 0, 0.4);
   transform: scale(1.05);  
}

/* project section  */

.projects{
  width: 100%;
  min-height: 100vh;
  padding:100px 40px;
}

.projects .card{
  transition: all ease 1s;
  text-align: center;
    background-color: rgba(255, 255, 255, 0.1) !important; 
  border-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border: 1px solid rgb(33, 26, 26) !important;
}
.projects .card img{
  height: 300px;
}
.projects .card:hover{
  transform: translateY(-10px);
}



/* certification */
.certification-section{
  /* padding-top: 90px; */
}
.certification-section .card{
  height: 200px !important;
  
  background-color: rgba(255, 255, 255, 0.1) !important; 
  border-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border: 1px solid rgb(33, 26, 26) !important;

}

.certification-section .card:hover{
  box-shadow: 0 8px 20px rgba(185, 183, 183, 0.2);
}

/* About us section */
.about{
  min-height: 100vh;
  width: 100%;
  padding: 80px 40px;
}

.about .col p{
padding: 20px;
text-align: justify;

}

.about-text{
  padding-top: 40px;
  text-align: justify;
  line-height: 4ch;
}

/*  contact us  */

.contact{
  height: 100vh;
 

}

.contact .form-container{
  width:35rem;
  margin:50px;
  border-radius: 20px;
  padding: 10px 20px;
 
  background-color: rgba(255, 255, 255, 0.1) !important; 
  border-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border: 1px solid rgb(33, 26, 26) !important;
}

.form-container input , .form-container  textarea {
  background-color: rgba(127, 124, 124, 0.907) !important;
}
.mb-3 label{
  color: white !important;
}

/* footer-sec */
.footer-sec{
  padding: 20px !important;

}

.footer-sec i{
  font-size: x-large;
}

.navbar .nav-link:hover{
  cursor: pointer;
}

/* purple button css */
.custom-button{
  background-color: 	#554be9 !important;
  transition: all 0.3s ease !important;

}
.custom-button:hover{
  background-color: #4135ea !important;
  color: white !important;
}


@media(min-width:576px){
  .projects{
    
  }
  .certification-section{
    padding-top: 30px;
  }
}

